/*Home*/

#banner{
    color: rgb(42, 87, 95);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 500;
    font-size: 50px;
    letter-spacing: 5px;
    padding: 10px;
}

.header ul li a:focus{
    outline: 2px solid seagreen;
    background-color: rgba(128, 128, 128, 0.171);
    border-radius: 5px;
}

.headerlist{
    display: inline-flex;
    font-family: 'Montserrat';
    border-radius: 20px;
    background-color: rgb(25, 27, 27);
    letter-spacing: 2px;
    border-style:outset;
    box-shadow: 5px 2px 4px rgba(0, 0, 0, 0.67);
    margin-top: 10px;
}

.headerlist a:link{
    color: white;
    font-weight:bolder;
    font-size: 20px;
    text-decoration: none;
    padding: 15px;
}

.headerlist a:visited{
    color: rgb(191, 180, 255);
    border-style: inset;
}

.headerlist a:hover{
    color: rgb(252, 113, 113);
    transition: all 0.5s;
}

.welcome{
    letter-spacing: 2px;
}

.rome {
    text-align:center;
    position:relative;
    color:black;
    border-radius: 10px;
}

.footer{
    display: inline-flex;
    position:relative;
    gap: 15px;
    border-style:groove;
    border-radius:5px;
    padding: 5px;
}

.footer-img{
    width: 25px;
    height: 25px;
}

.licenses{
    position:relative;
    gap: 5px;
    word-wrap: break-word;
}

p{
    position:relative;
    bottom: 15px;
    
}

/*Mobile*/ 
@media (orientation:portrait) {
            
    #banner
    {width: 25%;}

    .header{
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    padding-left: 15px;
    }
   

}
    


/*Desktop*/
@media (orientation:landscape) {

.small {display:none;}
.medium {display:none;}
.large {display:inline;}



}